@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

#root {
  /* --color-complementary: rgb(34, 34, 34); */
  /* --color-complementary2: rgb(54, 54, 54); */
  /* --color-success: rgb(0, 148, 32); */
  /* --color-info: rgb(0, 156, 218); */

  --color-primary: rgb(8, 24, 37);
  --color-light: #ffffff;
  --color-secondary: rgb(0, 129, 138);
  --color-secondary2: rgb(0, 99, 138);
  --color-secondary3: rgb(0, 180, 194);
  --color-complementary: rgb(30 41 59); /* slate-800 */
  --color-complementary2: rgb(51 65 85); /* slate-700 */
  --color-complementary3: rgb(100 116 139); /* slate-500 */
  --color-black-alpha: rgba(0, 0, 0, 0.747);
  --color-info: rgb(2 132 199); /* sky-600 */
  --color-success: rgb(101 163 13); /* lime-600 */
  --color-danger: rgb(163, 0, 0);
  --color-wait: rgb(177, 65, 0);
  --color-gold: rgb(251 146 60);

  --color-regime-0: rgb(124, 27, 27);
  --color-regime-1: rgb(16, 133, 94);
  --color-regime-100: rgb(0, 50, 216);
  --color-regime-200: rgb(199, 137, 3);

  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Montserrat Bold", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: var(--main-font);
  color: var(--color-light);
  background-color: var(--color-primary);
}

b,
strong {
  color: var(--color-secondary3);
  font-family: var(--secondary-font);
}

em {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

h5 {
  font-family: var(--secondary-font);
}

.shape01 {
  position: absolute;
  bottom: -15px;
  right: 50;
}

.shape02 {
  position: absolute;
  top: -15px;
  right: 50;
}

.customGradient {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--color-complementary2),
    rgba(0, 0, 0, 0)
  );
}

.bold {
  font-family: var(--secondary-font);
}

.wmde-markdown {
  background: none !important;
}

.mde-markdown {
  line-height: 1.2;
  padding: 20px 0;
}

.mde-markdown ul {
  list-style-type: disc;
}

.mde-markdown ol {
  list-style-type: decimal;
}

.presentation {
  color: var(--color-light) !important;
  font-size: 1.25rem !important;
}

td {
  text-align: center;
  border: solid 1px var(--color-complementary);
  border-collapse: collapse;
}

audio::-webkit-media-controls {
  background-color: #ffffff00;
  border-radius: 8px;
  padding: 16px;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
  background-color: var(--color-info);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-play-button {
  color: #ffffff !important;
  text-shadow: none;
}

audio > #thumb {
  box-shadow: none !important;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: theme("colors.slate.100");
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.slate.400");
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme("colors.slate.600");
  }
}
