@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    --color-main: #081825;
    --color-light: #ffffff;
    --color-secondary: #00818a;
    --color-complementary: #f7de00;
    --color-black-alpha: rgb(0 0 0 / 0.2);
    --color-info: rgba(255, 0, 0, 0.678);

    --main-font: 'Montserrat', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* min-height: 100vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: var(--main-font);
    color: var(--color-light);
    background-color: var(--color-main);
}

b {
    color: var(--color-secondary);
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: min-content;
    max-width: 720px;
    min-height: 200px;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
}

legend {
    text-align: center;
    color: var(--color-secondary);
    padding: 0 5px;
}

button[type="submit"] {
    width: 100%;
  }
  
input {
color: var(--color-main);
}