@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --color-primary: rgb(8, 24, 37);
  --color-light: #ffffff;
  --color-secondary: #00818a;
  --color-complementary: rgb(34, 34, 34);
  --color-complementary2: rgb(54, 54, 54);
  --color-black-alpha: rgba(0, 0, 0, 0.63);
  --color-info: rgb(0, 156, 218);
  --color-success: rgb(0, 65, 43);
  --color-danger: rgb(124, 27, 27);
  --color-wait: rgb(112, 77, 0);

  --color-regime-0: rgb(124, 27, 27);
  --color-regime-1: rgb(16, 133, 94);
  --color-regime-100: rgb(0, 50, 216);
  --color-regime-200: rgb(199, 137, 3);

  --main-font: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: var(--main-font);
  color: var(--color-light);
  background-color: var(--color-primary);
}

b {
  color: var(--color-secondary);
}

em {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.shape01 {
  position: absolute;
  bottom: -15px;
  right: 50;
}

.shape02 {
  position: absolute;
  top: -15px;
  right: 50;
}
