@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #081825;
    background-color: #ffffff;
  }

  button[type="submit"] {
    color: white !important;
    background-color: black !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #081825;
  
  }

  button[type="submit"] {
    color: black !important;
    background-color: white !important;
    width: 100%;
  }
}
