/server/.env
/server/node_modules
/server/dist

/client/.env
/client/node_modules
/client/dist
/client/dev-dist
/client/eslint-errors.txt

/db/backup
/db/extracted
/db/scripts/dump
/db/scripts/createBackup.bat
/db/scripts/restoreDB.bat