validation.md

/server/.env
/server/node_modules
/server/dist
/server/eslint-errors.txt

/client/.env
/client/android
/client/android.keystore
/client/node_modules
/client/dist
/client/dev-dist
/client/eslint-errors.txt

/db/backup
/db/extracted
/db/scripts/dump
/db/scripts/createBackup.bat
/db/scripts/restoreDB.bat